@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");
@import "reset.css";
@import "status-bar.css";

.sign-up-header {
  text-align: center;
  margin-top: 20vh;
  margin-bottom: 90px;
}
.sign-up-header__title {
  margin-bottom: 40px;
  font-size: 30px;
}
.sign-up-header__text {
  opacity: 0.78;
}
