.main-chat {
  margin: 0px 14px;
}
.chat-screen {
  background-color: rgb(166, 190, 184);
}

.timestamp {
  text-align: center;
}

.timestamp__time {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 3px 10px;
  font-weight: 100;
  border-radius: 20px;
}

.chat-screen .alt-header {
  position: fixed;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(166, 190, 184);
}

.main-chat {
  margin-top: 115px;
}

.message-row__column img {
  width: 48px;
  height: 48px;
  border-radius: 20px;
}
.message-row {
  display: flex;
  margin-top: 27px;
  position: relative;
}
.message-row__column:first-child {
  padding-bottom: 20px;
}

.message-row__column:nth-child(2) {
  margin-left: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.message-row__user {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 17px;
  opacity: 0.85;
}
.message-row__content {
  display: flex;
  align-items: flex-end;
  margin-top: 4px;
}
.message-row__time {
  margin-left: 6px;
  margin-right: 6px;
  font-size: 16px;
  opacity: 0.85;
}
.message-row__text {
  background-color: white;
  padding: 14px;
  border-radius: 14px;
  border-top-left-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 500;
}
.message-row__text span {
  position: relative;
  top: 1px;
}
.message-row__outgoing {
  justify-content: flex-end;
}
.message-row__outgoing .message-row__text {
  border-top-left-radius: 14px;
  border-top-right-radius: 0px;
  background-color: rgb(255, 200, 193);
}
.message-row__outgoing .message-row__time {
  order: 0;
}

.message-row__outgoing .message-row__text {
  order: 1;
}
