.find-icons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.find-icons__icon {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.find-icons__icon i {
  margin-bottom: 20px;
  margin-top: 28px;
  color: rgba(0, 0, 0, 0.75);
  font-size: 30px;
}
.find-icons__icon span {
  font-weight: 500;
  font-size: 17px;
}
.recommended-friends {
  border-top: 1px solid var(--opaque-border);
  border-bottom: 1px solid var(--opaque-border);
  margin-top: 20px;
}
.recommended-friends__title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  color: var(--grey-text);
}
.recommended-friends__text {
  text-align: center;
  margin-top: 115px;
  margin-bottom: 115px;
  font-size: 20px;
  color: var(--grey-text);
}
.open-chat__post-info img {
  width: 21px;
  border-radius: 50%;
  margin-right: 7px;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 0px;
}
.open-chat__title {
  font-weight: 500;
  color: var(--grey-text);
  font-size: 18px;
}
.open-chat__link {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.33);
}
.open-chat__link i {
  margin-left: 5px;
}

.open-chat__post-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 7px;
  margin-top: 33px;
}
.open-chat__post-hashtag {
  color: var(--grey-text);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}
.open-chat__post-members {
  margin-top: 7px;
  font-size: 18px;
  color: var(--grey-text);
  display: flex;
  align-items: center;
  font-weight: 500;
}
.open-chat__post .divider {
  width: 1px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0px 7px;
}
.open-chat__member-status {
  color: rgb(255, 139, 226);
}
