.find-icons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.find-icons__icon {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.find-icons__icon i {
  margin-bottom: 20px;
  margin-top: 28px;
  color: rgba(0, 0, 0, 0.75);
  font-size: 30px;
}
.find-icons__icon span {
  font-weight: 500;
  font-size: 17px;
}
.recommended-friends {
  border-top: 1px solid var(--opaque-border);
  border-bottom: 1px solid var(--opaque-border);
  margin-top: 20px;
}
.recommended-friends__title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  color: var(--grey-text);
}
.recommended-friends__text {
  text-align: center;
  margin-top: 115px;
  margin-bottom: 115px;
  font-size: 20px;
  color: var(--grey-text);
}
