@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    color: rgb(230, 81, 111);
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.recommended-friends {
  border-top: 1px solid var(--opaque-border);
  border-bottom: 1px solid var(--opaque-border);
  margin-top: 20px;
}
.recommended-friends__title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  color: var(--grey-text);
}
.recommended-friends__text {
  text-align: center;
  margin-top: 115px;
  margin-bottom: 115px;
  font-size: 20px;
  color: var(--grey-text);
}
.open-chat__post-info img {
  width: 21px;
  border-radius: 50%;
  margin-right: 7px;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 0px;
}
.open-chat__title {
  font-weight: 500;
  color: var(--grey-text);
  font-size: 18px;
}
.open-chat__link {
  font-size: 17.5px;
  color: rgba(0, 0, 0, 0.33);
}
.open-chat__link i {
  margin-left: 5px;
}

.open-chat__post {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.open-chat__post-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 7px;
}
.open-chat__post-hashtag {
  color: var(--grey-text);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}
.open-chat__post-members {
  margin-top: 7px;
  font-size: 18px;
  color: var(--grey-text);
  display: flex;
  align-items: center;
  font-weight: 500;
}
.open-chat__post .divider {
  width: 1px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0px 7px;
}
.open-chat__member-status {
  color: rgb(255, 139, 226);
}
.open-chat__post-img {
  position: relative;
}
.open-chat__post-img img {
  width: 110px;
  height: 110px;
  border-radius: 10px;
}
.open-chat__heartN {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  bottom: 13px;
  right: 10px;
}
.open-chat__heartN i {
  will-change: transform;
  margin-right: 6px;
}

.open-chat__heartN:hover i {
  animation: heartbeat 1s infinite;
}

.open-chat__heartN div {
  transform: translateY(1px);
}
