.alt-header {
  margin-top: 45px;
  margin-bottom: 18px;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
}
.alt-header__column {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 25px;
}
.alt-header__column span {
  font-size: 25px;
  font-weight: 600;
}
.alt-header__column i:nth-child(2) {
  margin-left: 25px;
}
.alt-header__column:first-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.alt-header__column:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
