.alt-header {
  margin: 0px 25px;
  margin-top: 37px;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: rgba(0, 0, 0, 0.85);
}
.alt-header__column span {
  font-size: 25px;
  font-weight: 600;
}
