.nav {
  padding: 29px 0px;
  background-color: rgb(250, 250, 250);
  border-top: 1.2px solid rgba(0, 0, 0, 0.03);
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.nav__list {
  padding: 0px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__btn {
  width: 25%;
}
.nav__link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgb(65, 65, 65);
}
i {
  position: relative;
}
.nav__notification {
  position: absolute;
  bottom: 0px;
  left: 15px;
}
.nav__notification-dot {
  width: 5px;
  height: 5px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 22px;
}
.nav__notification-dot2 {
  display: block;
  width: 5px;
  height: 5px;
  background-color: tomato;
  border-radius: 50%;
  position: relative;
  bottom: 10px;
  left: 30px;
}
