.user__img {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}
.user {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.user__title {
  font-weight: 500;
  font-size: 14pt;
  padding-bottom: 4px;
}
.user__subtitle {
  color: rgba(0, 0, 0, 0.5);
  padding-top: 4px;
  font-size: 11pt;
}
.user__column:nth-of-type(2) {
  margin-left: 13px;
}
.user__img-sm {
  width: 55px;
  height: 55px;
  border-radius: 22px;
}
.user__img-lg {
  width: 70px;
  height: 70px;
  border-radius: 30px;
}
